label {
    display: inline-block;
    width: 140px;
}

label[for="news"] {
    width: 300px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 200px;
    border: none;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding: 5px;
    background-color: aqua;
}

textarea {
    height: 120px;
    resize: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline:none;
    
}
input[type="submit"] {
    background-color: darksalmon;
    color: black;
    padding: 5px 20px;
}
::placeholder {
    color: darkblue;
    text-align: center;
}